@{
    ViewData["Title"] = "Access Denied";
}

<h2>Access Denied</h2>
<p>
    You do not have permission to access this page.<br />
    Please contact your administrator if you believe this is an error.
</p>