.navbar {
    background: -webkit-gradient(linear, left top, left bottom, from(#068C72), to(#14B279));
    background: linear-gradient(to right, #068C72, #14B279);
}

body.sidebar-mini .main-sidebar:after {
    background: -webkit-gradient(linear, left top, left bottom, from(#e6e5f2), to(#144FA0));
    background: linear-gradient(to bottom, #fff, #068C72, #068C72);
}

.button_search {
    background-color: #068C72;
    color: white;
}

    .button_search:hover, .button_search:active, .button_search:focus {
        background-color: #239981 !important;
        color: white;
        text-decoration: none;
    }
body.sidebar-mini .main-sidebar .sidebar-menu > li.active > a {
    box-shadow: 0 4px 8px #068C72;
    border: 1px solid #068C72;
}
.button_create_action {
    background: #068C72;
    color: #fff;
}
.button_delete_action {
    background: #FF4040;
    color: #fff;
}
.table-standard tr th {
    color: #fff;
    background: #068C72;
}
.page-link {
    color: #ffffff;
    background: #068C72;
}
.name_user_color {
    color: #068C72;
}